*{
    margin: 0;
    padding: 0;
}

html, body, div#application{
    width: 100%;
    height: 100%;
}

div#application{
    font-size: 28px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #dedede;
}

section#login {
    box-sizing: border-box;
    width: 100%;
    max-width: 400px;
    padding: 30px;
    background-color: white;
   }
 input {
    box-sizing: border-box;
    outline: none;
    border: solid 2px #bed33f;
    border-radius: 4px;
    color: #292929;
    width: 100%;
    padding: 12px;
    font-size: 14px;
    background: rgba(255, 255, 255, 1);
    margin-top: 16px ;
   }
   input#login-button{
    width: 100%;
    min-width: 280px;
    color: white;
    padding: 12px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 30px;
    background: rgb(166, 206, 57);
    cursor: pointer;
   }
